.exclusive-wrapper {
    padding-bottom: 100px;
    padding-top: 100px;

}
.exclusive-list {
        display: flex;
        justify-content: space-between;
}
.eclusive--part{
max-width: 307px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  margin: 0 auto;
}
.exclusive-list__item{
    padding: 38px 50px;
}