
.main-section-wraper {
    max-width: 630px;
    padding-top: 180px;
    padding-bottom: 215px;
}
.section--bg{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0.532741) 53.27%, #101011 100%), 
    url(../../images/main-pic.jpg);
    background-repeat: no-repeat;
    
}
.main-section__title {
    font-family: 'Bebas Neue';
    font-size: 130px;
    line-height: 1;     
    color: var(--title-color);

    margin-bottom: 20px;
}

.main-section__text {
        font-size: 20px;
        line-height: 1.5;

        margin-bottom: 50px;
}

.main-section__btn {
    display: flex;
    gap: 13px;
}
.btn{
    max-width: 140px;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    
    color: var(--secondary-text-color);
    border: 1px solid #D3AD7F;
        border-radius: 6px;
        background-color: transparent;

    padding: 15px 16px;  
    &:hover{
        background-color: #c41a1a;
    }
}