
.section--bg-color{
    background-color: #191919;
}
.menu-wraper {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.menu--part {
display: flex;
    left: 39px;
    top: -92px;
    position: absolute;
}

.menu__title {
    font-family: 'Bebas Neue';
    font-size: 200px;
    line-height: 1;

    color: rgba(255, 255, 255, 0.8);
}
.menu__img{
    position: absolute;
    z-index: 2;
    top: -113px;
    left: 32%;
    }
.menu{
    padding-top: 175px;
}
.title {
    font-family: 'Bebas Neue';
    font-size: 50px;
    line-height: 1;
    text-align: center;
    margin-bottom: 50px;

    
    color:var(--title-color);
}

.menu-list {
    max-width: 641px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.menu--list{
    display: flex;
    justify-content: space-between;
}
.menu-list__item {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;

    &::after{
        content: '';
        position: absolute;
        bottom: -15px;
        width: 100%;
        border-bottom: 1px solid #605D5D ;
    }
    
}

.menu-list__img {
    border-radius: 50%;
}
.menu-list__description{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu-list__title {

    font-weight: 600;
    font-size: 22px;
    line-height: 1;
    color: #D3AD7F;
}

.menu-list__text {
    line-height:1;
    text-transform: uppercase;
    
    color: #938E8E;
}

.menu-list__price {
        font-weight: 700;
        font-size: 20px;
        line-height: 0.8;

        color: var(--title-color);
}