
.section--bg-color{
    background-color: #191919;
}
.menu-wraper {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    @media screen and (max-width:767px) {
        padding-top: 0;
    }
}

.menu--part {
display: flex;
    left: 39px;
    top: -92px;
    position: absolute;

    @media screen and (max-width:767px) {
        display: block;
        position: static;

        & img{
            margin: 0 auto;
        }
    }
}

.menu__title {
    font-family: 'Bebas Neue';
    font-size: 200px;
    line-height: 1;
        @media screen and (max-width:767px) {
                font-size: calc(50px + 20 * (100vw / 767));
                text-align: center;
            }
    color: var(--title-color);
}
.menu__img{
    position: absolute;
    z-index: 2;
    opacity: 0.5;
    top: -113px;
    left: 32%;
    @media screen and (max-width:767px) {
    top: 77px;
    left: 14px;

    }
    }
.menu{

    @media screen and (min-width:768px) {
    padding-top: 175px;
        }
}
.title {
    position: relative;
    font-family: 'Bebas Neue';
    font-size: 50px;
    line-height: 1;
    text-align: center;
    margin-bottom: 50px;

        @media screen and (max-width:767px) {
                font-size: calc(30px + 20 * (100vw / 767));
            }

    
    color:var(--title-color);
    text-decoration: underline;
}
.menu__title--accent{
    color: #c41a1a;
}
.menu-list {
    max-width: 641px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
@media screen and (max-width:767px) {
    .menu-list:first-child {
            margin-bottom: 50px;
        }
}

.menu--list{
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:767px) {
               display: block;
        }
}
.menu-list__item {
    position: relative;
    display: flex;
    
        @media screen and (min-width:767px) {
                gap: 20px;
            }
    align-items: center;

    &::after{
        content: '';
        position: absolute;
        bottom: -15px;
        width: 100%;
        border-bottom: 1px solid #605D5D ;
    }
    
}

.menu-list__img {
    border-radius: 50%;

        @media screen and (max-width:767px) {
                margin-right: 10px;
            }
}
.menu-list__description{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu-list__title {

    font-weight: 600;
    font-size: 22px;
        @media screen and (max-width:767px) {
                font-size: calc(15px + 7 * (100vw / 767));
            }
    line-height: 1;
    color: #D3AD7F;
}

.menu-list__text {
    line-height:1;
    text-transform: uppercase;
    
    color: #938E8E;

    @media screen and (max-width:767px) {
     font-size: calc(12px + 5 * (100vw / 767));
    }
}

.menu-list__price {
        font-weight: 700;
        font-size: 20px;
        line-height: 0.8;
    @media screen and (max-width:767px) {
            font-size: calc(15px + 5 * (100vw / 767));
        }
        color: var(--title-color);
}